/*
=============== 
Fonts
===============
*/
/* @import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap");
/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: #160222;
  --clr-primary-2: #2b0444;
  --clr-primary-3: #410765;
  --clr-primary-4: #560987;
  --clr-primary-5: #6c0ba9;
  --clr-primary-6: #893cba;
  --clr-primary-7: #a76dcb;
  --clr-primary-8: #c49ddd;
  --clr-primary-9: #e2ceee;
  --clr-primary-10: #f2e9f7;

  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  /* --ff-primary: "Roboto", sans-serif; */
  /* --ff-secondary: "Open Sans", sans-serif; */
  --ff-primary: "Poppins", sans-serif;
  --ff-secondary: "Poppins", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.2rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.btn {
  border: none;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  transition: var(--transition);
  letter-spacing: var(--spacing);
  padding: 0.375rem 0.8rem;
  font-weight: bold;
  border-radius: var(--radius);
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
}
.btn:hover {
  background-color: var(--clr-primary-7);
}

.section {
  padding: 5rem 0;
}
.section-center {
  width: 85vw;
  max-width: 1170px;
  margin: 0 auto;
}

.mb-0 {
  margin-bottom: 0 !important;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-4 {
  margin-bottom: 4rem;
}

.underline {
  height: 0.25rem;
  width: 5rem;
  background: var(--clr-primary-5);
  margin: 0 auto;
}

.ml-0 {
  margin-left: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}

.name {
  /* font-size: 1.5rem; */
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
}
.name span {
  color: var(--clr-primary-5);
}

@media screen and (min-width: 800px) {
  .name {
    font-size: 2rem;
  }
}
.nav-btn {
  border: none;
  color: var(--clr-primary-5);
  font-size: 2rem;
  cursor: pointer;
  background: transparent;
  transition: var(--transition);
}
.nav-btn:hover {
  transform: scale(1.2);
}
.section-title {
  margin-bottom: 2rem;
}
/*
===========================================================================
Navbar
===========================================================================
*/

.navbar {
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.nav-center {
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.nav-links {
  display: none;
}

@media screen and (min-width: 800px) {
  .nav-btn {
    display: none;
  }
  .nav-links {
    display: flex;
    /* gap: 0 3rem; */
  }
  .nav-links a {
    color: var(--clr-primary-1);
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    transition: var(--transition);
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;

    margin: 0 0.5rem;

    /* font-weight: 600; */
  }
  .nav-links a:hover {
    color: var(--clr-primary-5);
    /* text-shadow: 0 0 1px var(--clr-primary-5); */
    background: var(--clr-primary-9);
  }
  .navbar {
    box-shadow: none;
    background: var(--clr-primary-10);
  }
  .fixed-nav {
    box-shadow: var(--light-shadow);
    background: var(--clr-white);
  }
}

.side-bar {
  position: fixed;
  height: 100%;
  width: 100%;
  background: var(--clr-grey-10);
  z-index: 3;
  display: grid;
  place-items: center;
  text-align: center;
  transform: translateX(100%);
  transition: var(--transition);
}

.show-sidebar {
  transform: translateX(0);
}
.close-btn {
  border: none;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  transition: var(--transition);
  color: var(--clr-grey-1);
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}
.close-btn:hover {
  transform: scale(1.2);
}

.sidebar-links a {
  color: var(--clr-grey-1);
  font-size: 1.25rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-bottom: 1rem;
  display: inline-block;
  transition: var(--transition);
}

.sidebar-links a:hover {
  color: var(--clr-primary-5);
  text-shadow: 0 0 1px var(--clr-primary-5);
}

/*
===========================================================================
main
===========================================================================
*/
.main {
  min-height: 100vh;
  background: var(--clr-primary-10);
  display: grid;
  place-items: center;
}
.social-icons {
  display: flex;
  column-gap: 2rem;
}
.social-icons a {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  transition: var(--transition);
}
.social-icons a:hover {
  color: var(--clr-primary-5);
}

.main-img-container {
  display: none;
}

.main-img-container::before {
  height: 100%;
  content: "";
  width: 100%;
  top: -2rem;
  left: -2rem;
  position: absolute;
  border-radius: var(--radius);
  border: 5px solid var(--clr-primary-5);
}

.main-info {
  justify-self: flex-start;
  margin-left: 5%;
  margin-bottom: 18%;
}

@media screen and (min-width: 800px) {
  .main {
    grid-template-columns: 2fr 1fr;
  }
  .main-img-container {
    position: relative;
    display: block;
  }
  .main-img-container img {
    height: 26rem;
    border-radius: var(--radius);
    position: relative;
    box-shadow: var(--light-shadow);
    object-fit: cover;
  }
  .main-info {
    margin-left: 10%;
  }
}

/*
===========================================================================
About
===========================================================================
*/
.about-center {
  display: grid;
  place-items: center;
  gap: 2rem;
}
.about-img-container img {
  height: 26rem;
  border-radius: var(--radius);
  position: relative;
  box-shadow: var(--light-shadow);
  object-fit: cover;
}

.about-img-container {
  position: relative;
}
@media screen and (min-width: 800px) {
  .about-center {
    grid-template-columns: 1fr 1fr;
  }
  .about-img-container::before {
    height: 100%;
    content: "";
    width: 100%;
    top: -2rem;
    left: -2rem;
    position: absolute;
    border-radius: var(--radius);
    border: 5px solid var(--clr-primary-5);
  }
}

/*
===========================================================================
services
===========================================================================
*/

.services-center {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}
.services {
  background: var(--clr-grey-10);
}
.services .section-title {
  text-align: center;
}
.service .underline {
  height: 0.15rem;
  transition: var(--transition);
}
.service {
  text-align: center;
  border-radius: var(--radius);
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
  padding: 2rem;
  transition: var(--transition);
}
.service span {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  display: inline-block;
}
.service:hover {
  box-shadow: var(--dark-shadow);
  color: var(--clr-white);
  background-color: var(--clr-primary-5);
}
.service:hover .underline {
  background-color: var(--clr-white);
}
.service-text {
  transition: var(--transition);
  text-align: justify;
}
.service:hover .service-text {
  color: var(--clr-white);
}
.tc {
  text-align: center;
}
/*
===========================================================================
projects
===========================================================================
*/

.project-text {
  width: 85vw;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 4rem;
  color: var(--clr-primary-4);
  text-align: center;
}
.project-img-container {
  background: var(--clr-primary-5);
  position: relative;
  border-radius: var(--radius);
}
.project-img-container:hover .project-img {
  opacity: 0.1;
}

.project-img-container::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 5px solid var(--clr-white);
  border-radius: var(--radius);
  opacity: 0;
  transition: var(--transition);
}

.project-img-container:hover::before {
  opacity: 1;
  transform: scale(0.85);
}
.project-img-container:hover .project-info {
  opacity: 1;
}
.project-img {
  height: 15rem;
  object-fit: cover;
  transition: var(--transition);
  object-fit: cover;
  border-radius: var(--radius);
}
.project-info {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: var(--clr-white);
  opacity: 0;
  transition: var(--transition);
}
.project-info h4 {
  margin-bottom: 0;
}
.project-info p {
  margin-bottom: 0;
  color: var(--clr-white);
  text-transform: capitalize;
  letter-spacing: 3px;
}
.projects .section-title {
  margin-bottom: 1.5rem;
}
.projects-center {
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 800px) {
  .projects-center {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1100px) {
  .projects-center {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "a b c"
      "a d d";
  }
  .projects-center a {
    height: 100%;
  }
  .height-100 {
    height: 100%;
  }
  .project-1 {
    grid-area: a;
  }
  .project-2 {
    grid-area: b;
  }
  .project-3 {
    grid-area: c;
  }
  .project-4 {
    grid-area: d;
  }
}
/*
===========================================================================
books
===========================================================================
*/
.books {
  position: relative;
  min-height: 90vh;
  display: grid;
  place-items: center;
  clip-path: polygon(50% 0, 100% 10%, 100% 90%, 50% 100%, 0 90%, 0 10%);
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  object-fit: cover;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--clr-primary-1);
  opacity: 0.5;
  z-index: -1;
}
.books-info {
  background: var(--clr-primary-10);
  width: 85vw;
  max-width: 600px;
  text-align: center;
  padding: 2rem;
  border-radius: var(--radius);
}

/*
===========================================================================
blogs
===========================================================================
*/
.blogs {
  background: var(--clr-grey-10);
}
.blogs .section-title {
  margin-bottom: 4rem;
}
.blogs-center {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  perspective: 3000px;
}

.single-blog-front img {
  object-fit: cover;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  height: 15rem;
}
.single-blog {
  position: relative;
  transition: var(--transition);
  transform-style: preserve-3d;
  box-shadow: var(--light-shadow);
  border-radius: var(--radius);
}

.single-blog:hover {
  transform: scale(1.05);
}
.blog-footer img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}
.blog-info {
  padding: 1.5rem 2rem;
}
.blog-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-footer p {
  text-transform: uppercase;
  color: var(--clr-primary-5);
  letter-spacing: 2px;
}
.single-blog-back {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--clr-primary-8);
  border-radius: var(--radius);
  display: grid;
  place-items: center;
  transition: var(--transition);
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

/*
===========================================================================
footer
===========================================================================
*/
.main-footer {
  background: #222;
  display: grid;
  place-items: center;
  height: 15rem;
  text-align: center;
}

.footer-icons a {
  color: var(--clr-primary-8);
}
.footer-icons a:hover {
  color: var(--clr-primary-6);
}
.main-footer h4 {
  color: var(--clr-primary-8);
}

/*
===========================================================================
remaining 
===========================================================================
*/
.about-page {
  grid-template-columns: 1fr;
  min-height: calc(100vh - 240px);
}
.projects-page {
  grid-template-columns: 1fr;
  min-height: 55vh;
}
.about-page p {
  width: 85vw;
  max-width: 800px;
  margin: 0 auto;
}
.projects-page-center {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.projects-page-center article {
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
  transition: var(--transition);
}
.projects-page-center article:hover {
  transform: scale(1.03);
}
.project-page-img-container {
  position: relative;
  height: 15rem;
}
.project-page-img-container span {
  position: absolute;
  font-size: 1.5rem;
  width: 4rem;
  height: 4rem;
  display: grid;
  place-items: center;
  background-color: var(--clr-primary-5);
  border-radius: 50%;
  cursor: pointer;
  border: 5px solid var(--clr-grey-10);
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
.project-page-img-container img {
  position: absolute;
  height: 100%;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
.project-page-info {
  padding: 1.5rem 1rem;
  border-radius: var(--radius);
  background-color: var(--clr-grey-10);
}
.project-page-footer {
  display: flex;
  justify-content: space-between;
}
.project-page-footer a {
  font-size: 1.2rem;
  color: var(--clr-primary-5);
}
